# project sdlc toolset

invoke # task automation tool, see tasks.py for project task definitions
pytest # test framework of choice for the library
pytest-flakes # code quality checking
pytest-pep8 # check for pep8
pytest-cov # calculate test coverage
pytest-bdd # behavior driven tests
pytest-cache # test results caching (pep8 uses it)
tox # test automation tool

# core project dependencies
keyring # access to credentials stored in the os secure local store
anyconfig # project configuration files in yaml
requests # enhanced http library
networkx # support for graph based domain model
scipy # mathematics platform
pandas # tabular data crunching
sympy # symbolic math
simpy # simulations
matplotlib # graphing
seaborn # enhanced graphing on top of matplotlib
python-Levenshtein # fast string comparison
fuzzywuzzy #fuzzy string matching with heuristics based on difflib
numexpr # fast numerical array computations
xlwings # excel python scripting
python-pptx # powerpoint support
pillow # graphics manipulation
statsmodels # statistical models
scikit-learn # machine learning support
pymc # Bayesian estimation
nltk # language analysis, also need to install nltk data as described on nltk site

# database drivers
neo4j-driver #neo4j official driver




