# remote repository (default, not required, used as an example)
--index-url https://pypi.python.org/simple/

# install self in dev mode
-e .

# project sdlc toolset

pytest # test framework of choice for the library
pytest-flakes # code quality checking
pytest-pep8 # check for pep8
pytest-cov # calculate test coverage
pytest-bdd # behavior driven tests
pytest-cache # test results caching (pep8 uses it)
pytest-datadir # fixtures to access file system resources in tests
pytest-datafiles
tox # test automation tool
